### Decode ###
#status=decode
#raw_dir=sample_data/raw.bmes
#nbest=10
#decode_dir=sample_data/raw.out
#dset_dir=sample_data/lstmcrf.dset
#load_model_dir=sample_data/lstmcrf.0.model


status=decode
raw_dir=/Users/thieut/Workspace/FunctionalTerminology/data/annotations_col/conll/jona_all_ents/sent/1/valid.txt
nbest=10
decode_dir=sample_data/raw.out
dset_dir=/Users/thieut/Workspace/FunctionalTerminology/data/models/lstm_ncrfpp/data.dset
load_model_dir=/Users/thieut/Workspace/FunctionalTerminology/data/models/lstm_ncrfpp/best.model
MAX_SENTENCE_LENGTH=-1